<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

  <script src="js/app.js"></script>

  <script src="js/mainentry.js"></script>
</head>

<body>

<div ng-controller="EntryController">
  <br/>
		<input type="text" ng-model="person.name"
			placeholder="Enter your name" />
		<h5>Hello {{ person.name }}</h5>


		<select data-ng-options="o.name for o in options" data-ng-model="selectedOption"></select>


		<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
		 <h4>Inline</h4>
		<div style="display:inline-block; min-height:290px;">
			<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
		</div>


		<h5>Simple directive expressions {{ 8+ 1}}</h5>
		<h5>Currency Filter {{ 10* 3.3 | currency}}</h5>
		<h5>{{ clock }}</h5>
  
</div>

</body>
</html>
